# ignore everything:
*

# except these files:
!.gitignore
!.dockerignore
!.gitlab-ci.yml
!HELP.md
!pom.xml
!Dockerfile
!renovate.json

# except this sub-directory and all sub-directories and files:
!src
!src/**/*
